#pip install
Django==3.0.3
six==1.13.0
psycopg2==2.8.4
gunicorn==22.0.0
django-crispy-forms==1.8.1
django-extensions==2.2.9
pydotplus==2.0.2
django-view-breadcrumbs==0.1.0
django-clone==0.2.0
pandas==1.0.5
django-autocomplete-light==3.5.1
openpyxl==2.5.14
python-keycloak==3.3.0