* {
  box-sizing: border-box;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--bs-dark);
  color: var(--bs-light) !important;
}

table {
  table-layout: fixed;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
}

td.details-control {
  background: url('../static/img/details_open.png') no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url('../static/img/details_close.png') no-repeat center center;
}

#json_form_display {
  background-color: #fefbd8;
}

#div_id_choose_existing {
  background-color: #fedfd8;
  height: 100px;
}

.table-container {
  max-height: 15rem;
  overflow-y: auto;
}
