{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tags %}
{% load static %}



{% block content %}
<div class="container">
{% if messages %}
        {% for message in messages %}
            <p class="alert alert-danger">{{message}}</p>
        {% endfor %}
    {% endif %}
	<form class="form-horizontal" method="POST" action="">
{% csrf_token %}
<h1>Add labels to experiments</h1>
<hr>

{{ formset.management_form }}
{% for form in formset %}
<div class="row form-row spacer">
 {{ form|crispy }}

<div class="float-right align-bottom"><button class="btn btn-danger remove-form-row" name="id_form-0-delete">Delete Group</button></div><br>
 
</div>
  
{% endfor %}
<div class="row spacer">
<div class="input-group-append">
                <button class="btn btn-success add-form-row center-block">Add more labels</button>
            </div><br/><br/>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>
</div>
{% endblock %} 