<!doctype html>
{% load static %}


<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Load Bootstrap -->
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <script src="{% static 'bootstrap.min.js' %}"></script>

  <!-- Load jquery -->
  <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/themes/base/jquery-ui.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js"
    integrity="sha512-Ww1y9OuQ2kehgVWSD/3nhgfrb424O3802QYP/A5gPXoM4+rRjiKrjHdGxQKrMGQykmsJ/86oGdHszfcVgUr4hA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

  <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

  <!-- Load chart.js -->
  <script src=" https://cdn.jsdelivr.net/npm/chart.js@4.4.8/dist/chart.umd.min.js "></script>


  <!-- Load gridjs -->
  <script src="https://unpkg.com/gridjs/dist/gridjs.production.min.js"></script>
  <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
  <script type="text/javascript" src="{% static 'base.js' %}"></script>
  <script type="text/javascript" src="{% static 'addlabels.js' %}"></script>

  <title>DUnCAN</title>
</head>

<div class="header">
  <img src="{% static 'img/LogoLupienLab.png' %}" alt="Lupien Lab" style="width:300px;height:100px;">
  <div class="header-right">
    <a href="{% url 'index'%}">Home</a>
    <a href="{% url 'addData' %}">Add data</a>
    <a href="{% url 'showProject' %}">Projects</a>
    <a href="{% url 'showBiosource' %}">Biosource</a>
    <a href="{% url 'approval_list' %}">Approvals</a>
    {# <a href="{% url 'change_password' %}">Change password</button></a> #}
    <a href="https://github.com/LupienLab/DuNCAN_issues/issues" target="_blank">Report Issues</button></a>
    <a href="{% url 'logout' %}">Logout</a>
  </div>
</div>

<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>
