{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tags %}


{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% if json_values %}
	    {% json_saved_data json_values as jsonEntry %}
	    {{ jsonEntry|json_script:"json-data" }}
    {% endif %}
    
    <h1>Add {{form | modelname}}</h1>
     {% include "modelHelpFrag.html" with form=form %}
     {{ form|crispy }}
     
     <div id="json_form_display">
     
     </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


{% endblock %}