{% extends 'base.html' %} 
{% block content %} 
{% if project %}
<div class="container">

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
<br/>
 {% render_breadcrumbs 'django_bootstrap_breadcrumbs/bootstrap4.html' %}
{% endblock %}


  <div class="float-right">
  <a href="{% url 'editProject' prj_pk=project.pk %}"><button type="button" class="btn btn-warning float-left">Edit Project</button></a>&nbsp;&nbsp;
  <a href="{% url 'deleteProject' prj_pk=project.pk %}"><button type="button" class="btn btn-danger float-right">Delete Project</button></a><br/><br/>
  </div>
  <h3>Project Details</h6>
	<table class="table table-bordered">
		<tr>
			<td><b>Name:</b> {{ project.name }}</td>
		</tr>
		<tr>
			<td><b>Status:</b> {{ project.status }}</td>
		</tr>
		<tr>
			<td><b>Created by:</b> {{ project.created_by }}</td>
		</tr>
		<tr>
			<td><b>Contributors:</b> <br /> 
			{% if project.contributor.all %} 
			{% for contributor in project.contributor.all %}
				({{forloop.counter }}) {{contributor}}<br /> 
			{% endfor %} 
			{% else %} 
				No contributors added. 
			{% endif %}
			</td>
		</tr>
		<tr>
			<td><b>Created on:</b> {{ project.created_at }}</td>
		</tr>
		<tr>
			<td><b>Last edited by:</b> {{ project.edited_by }}</td>
		</tr>
		<tr>
			<td><b>Last edited on:</b> {{ project.edited_at }}</td>
		</tr>
		<tr>
			<td><b>Description:</b> {{ project.description }}</td>
		</tr>
		
	</table>
	<br/> 
	<a href="{% url 'addBiosource' prj_pk=project.pk %}"><button type="button" class="btn btn-success">Add experiment</button></a>
	<a href="{% url 'addSequencingRun' prj_pk=project.pk %}"><button type="button" class="btn btn-success">Add SequencingRun</button></a>
	<a href="{% url 'importExperiments' prj_pk=project.pk %}"><button type="button" class="btn btn-success">Bulk Add Experiments</button></a>
	<a href="{% url 'bulkAddSequencingRun' prj_pk=project.pk%}"><button type="button" class="btn btn-success">Bulk Add SequencingRun</button></a>
	<a href="{% url 'importSequencingFiles' prj_pk=project.pk %}"><button type="button" class="btn btn-success">Bulk Add Fastq Files</button></a>
	<br/><br/>
	<hr><br>
	{% if experiment %}
	
	
	{% if messages %}
    {% for message in messages %}
    	<p{% if message.tags %} class="alert-{{ message.tags }} alert"{% endif %}>{{ message }}</p>
    {% endfor %}
	{% endif %}

	<h3>Experiment details</h6>
	<table class="cell-border table-hover data_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Created on</th>
				<th>Created by</th>
			</tr>
		</thead>
		<tbody>
		{% for exp in experiment %}
			<tr>
				<td><a href="{% url 'detailExperiment' exp_pk=exp.pk %}">{{ exp.name }}</a></td>
				<td>{{ exp.json_type }}</td>
				<td>{{ exp.created_at }}</td>
				<td>{{ exp.created_by }}</td>
			</tr>
		{% endfor %}	
		</tbody>
		</table>
	{% endif %} 
	<br><hr><br>
	{% if sequencingRun %}
	<h3>Sequencing run details</h6>
	<table class="cell-border table-hover data_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Experiments</th>
				<th>Created on</th>
				<th>Created by</th>
			</tr>
		</thead>
		<tbody>
		{% for run in sequencingRun %}
			<tr>
				<td><a href="{% url 'detailSequencingRun' run_pk=run.pk %}">{{ run.name }}</a></td>
				<td>
				{% for exp in run.experiment.all %}
					({{ forloop.counter }}) <a href="{% url 'detailExperiment' exp_pk=exp.pk %}">{{ exp.name }}</a><br/>
				{% endfor %}
				</td>
				<td>{{ run.created_at }}</td>
				<td>{{ run.created_by }}</td>
			</tr>
		{% endfor %}	
		</tbody>
		</table>
	{% endif %} 
	
</div>
{% endif %} 
{% endblock %}
