{% extends "base.html" %}
{% load static %}
{% block content %}

{% if usr %}
	<br/><h3>Welcome {{usr.get_full_name | default:usr.username}}!</h3><br/>
{% endif %}

<h4 class="text-center">Browse projects</h4>
<div class="container">
    <div class="row">
       <div class="col-xs-6 col-sm-6 col-md-6">
          <canvas id="disease" class="chartjs"></canvas>
       </div>
       <div class="col-xs-6 col-sm-6 col-md-6">
          <canvas id="owner" class="chartjs"></canvas>
       </div>
     </div>
    <hr/>
     <div class="row">
       <div class="col-xs-6 col-sm-6 col-md-6">
          <canvas id="assay" class="chartjs"></canvas>
       </div>
       <div class="col-xs-6 col-sm-6 col-md-6">
          <canvas id="projectlabel" class="chartjs"></canvas>
       </div>
     </div>
</div>
<hr/><br/>
<h4 class="text-center">Browse experiments</h4>
<div class="container">
     <div id="matrixDataGrid"></div>
</div>
<hr/><br/>


<script type="text/javascript" src="{% static 'createCharts.js' %}"></script>


<div class="bodyContent container">
<table class="table table-bordered table-hover data_table">
<thead>
  <tr>
    <th class="table_head">
    	Active Projects
    </th>
  </tr>
</thead>
<tbody>
{% if object %}
  {% for project in object %}
  <tr> 
	<td><a href="{% url 'detailProject' project.pk %}">{{ project.name }}</a></td>
</tr>
	{% endfor %}
</tbody>
{% else %}
    <p>No data available.</p>
</table>
</div>
{% endif %}
{% endblock %} 