{% extends 'base.html' %}
{% block content %}

{% load tags %}

<h1>Experiments</h1><br/>
<div class="container">
	{% if object %}
	<table class="cell-border table-hover data_table">
		<thead>
			<tr>
				<th style="width: 5%"></th>
				<th>Project Name</th>
				<th>Experiment Name</th>
				<th>tissue_type</th>
				<th>Disease-site</th>
				<th>Assay</th>
				{% with object.all|first as assay %}
				  {% if assay.json_type.name == "ChIP-seq" %}
					<th>Target</th>
				  {% endif %}
				{% endwith %}
				<th>owner</th>
			</tr>
		</thead>
		<tbody>
			{% for experiment in object %}
			<tr data-child-value="{{ experiment.description }}">
				<td style="width: 5%" class="details-control"></td>
				<td><a href="{% url 'detailProject' experiment.project.pk %}">{{ experiment.project.name }}</a></td>
				<td><a href="{% url 'detailExperiment' experiment.pk %}">{{ experiment.name }}</a></td>
				<td>
				{% for tissue in experiment.project.tissue_type.all %}
					({{ forloop.counter }}) {{ tissue.name }}<br/>
				{% endfor %}
				</td>
				<td>{{ experiment.project.disease_site.name  }}</td>
				<td>{{ experiment.json_type.name  }}</td>
				{% if experiment.json_type.name == "ChIP-seq" %}
				{% json_saved_data experiment.json_fields as jsonEntry %} 
				{% for keys, values in jsonEntry.items %}
				    {% if keys == "targeted_factor" %}
                      <td>{{ values }}</td> 
                    {% endif %}	
				{% endfor %}
				{% endif %}	
				<td>{{ experiment.created_by  }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>No data available.</p>
</div>
{% endif %} {% endblock %}
