{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tags %}
{% load static %}


{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h3>Import multiple dataset for {{form_name}}:</h3><br/>
     
     {{ form|crispy }}
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br/>
   <h5>Download example files</h5>
   <a href="{% static 'import_experiments.csv' %}" class="btn btn-secondary">Experiments sheet</a>
   <a href="{% static 'import_fastqfiles.csv' %}" class="btn btn-secondary">Fastqfiles sheet</a>

{% endblock %}