{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load tags %}
{% load static %}


{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <h3>Import multiple dataset for {{form_name}}:</h3><br/>
     
     {{ form|crispy }}
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
<br/>
   <h5>Download example files</h5>
   {% if form_name == "experiments" %}
   		<a href="{% static 'import_experiments.csv' %}" class="btn btn-secondary">Experiments sheet</a>
    {% elif  form_name == "sequencing fastq files"%}
		<a href="{% static 'import_fastqfiles.csv' %}" class="btn btn-secondary">Fastqfiles sheet</a>
	{% elif  form_name == "biosource"%}
		<a href="{% static 'import_biosource.csv' %}" class="btn btn-secondary">Biosource sheet</a>
	{% elif  form_name == "biosample"%}
		<a href="{% static 'import_biosample.csv' %}" class="btn btn-secondary">Biosample sheet</a>
	
	{% elif  form_name == "sequencing run"%}
		<a href="{% static 'import_SequencingRun.csv' %}" class="btn btn-secondary">SequencingRun sheet</a>
	{% endif %}
   

{% endblock %}